p
{
	background : #FFD9D9;
	border-bottom : 4px orange;
	padding-top : 15px;
	margin : -10px;
	display : block;
	width : auto;
	height : 35px;
	text-align : center;
	vertical-align : center;
}

h1 { color : blue;}
